{
   "presets": [
      [ "env", {
         "targets": { node: "6" },
      } ],
      "@babel/preset-env",
      "@babel/preset-react"
   ],
   "plugins": [
      ["@babel/plugin-proposal-class-properties", { "loose": true }]
   ],
   "env": {
      "test": {
         "presets": ["@babel/preset-env", "@babel/preset-react", "es2015", "stage-1", "react", "flow"]
      }
   }
}
